.menu-hamburguer {
    width: 48px;
    height: 48px;
    background-image: url(../imagens/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

/* Alterando o botão menu hamburguer pra mudar de cor */
.container__botao:checked ~ .container__rotulo > .menu-hamburguer {
    background-image: url(../imagens/menu_black_24dp\ 1.svg);
}
.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

/* Pai */
.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
     position: relative; /* usei o relative pra sair do static e liberar no filho lista ul a position absolute*/
}
/* Filhos */
.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute; 
    top: 100%; /* Agora a lista aparece no topo da linha abaixo */
    width: 55vw;
}

/* se o imput for clicado vai abrir a lista */
.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__botao {
    display: none;
}

.opcoes-item {
    cursor: pointer;
}

/* Abaixo faz parte da criação do header 1024px, display none so pra aparecer assim que chegar a 1024px */
.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

/* media query */
@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo-negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo-negrito {
        font-weight: 700;
    }

    .opcoes{
        display: flex;
        gap: 1.2em;
    }

    /*.opcoes-item {
         padding: 0 1em;
    } */

    .opcoes__link {
        text-decoration: none;
        color: black;
    }

    .icone-favorito-none {
        display: none;
    }

    .menu-hamburguer {
        display: none;
    }
    
    .opcoes-categorias:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes-categorias{
        display: none;
    }

    /* Trocando a Cor do fundo quando passa o mouse na categoria */
    .opcoes-categorias:checked ~ .opcoes__rotulo > .opcoes-item {
        background: var(--azul-degrade);
        color: var(--branco);
    }
    .opcoes-item {
        padding: 2em 1em;
    }
    /* Trocando a cor fundo da lista dentro de categorias quando passa o mouse */
    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }
    .lista-menu__item:hover > .lista-menu__link {
       -webkit-text-fill-color: var(--branco);
       text-decoration: none;
    }
}

/* Abaixo faz parte da criação do banner 1728px */

.container_texto {
    display: none;
}

@media screen and (min-width: 1728px) {
    .container_link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        gap: 10px;
    }

    .cabecalho {
        padding: 0 2em ;
    }

    .opcoes {
        margin-right: 35%;
    }

    .container_texto {
        display: block;
    }
}